# Dependencies
node_modules/

# Build / cache
dist/
build/
.vite/
*.tsbuildinfo

# Environment
.env
.env.local
.env.*.local

# Logs & debug
npm-debug.log*
pnpm-debug.log*
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# Optional
coverage/
.turbo/
